<div class="basediv">
    <div class="edit_review_box"><h1>お気に入り編集画面</h1>
        <%= form_for([@favorite]) do |f| %>
            <p>コメント</p>
            <%= r.text_area :comment %>

            <%= r.submit '編集完了' %>
        <% end %>
    </div>
</div>