<div class="basediv">

    <div class="top_title_box">

        <%= image_tag"2018russia.jpg" %>
        <h3>好きな出場国を選んで自分だけのロシアワールドカップを作ろう！</h3>
        
    </div>
    <div class="top_link_box clearfix">

        <div class="top_make_link">
            <div class="top_link_button whitedeco"><%= link_to "つくる", country_before_path %></div>
        </div>
        <div class="top_index_link">
            <div class="top_link_button whitedeco"><%= link_to "みる", wcups_path %></div>
        </div>

    </div>
</div>
