<div class="basediv">
    <div class="arrow">

        <i class="fas fa-arrow-alt-circle-right arrow_black"><br>つかいかた</i>
        <%= link_to europe_path do %>
            <i class="fas fa-arrow-alt-circle-right arrow_white next_contain_arrow"><br>ヨーロッパ</i>
        <% end %>
        <i class="fas fa-arrow-alt-circle-right arrow_white"><br>アフリカ</i>
        <i class="fas fa-arrow-alt-circle-right arrow_white"><br>アジア</i>
        <i class="fas fa-arrow-alt-circle-right arrow_white"><br>南米</i>
        <i class="fas fa-arrow-alt-circle-right arrow_white"><br>北中米カリブ海</i>
        <i class="fas fa-arrow-alt-circle-right arrow_white"><br>オセアニア</i>

    </div>

    <div class="select_caption">
        <p>各大陸ごとにリストからあなたのWカップに出場させたい国を、大陸ごとの出場数まで選んで下さい。</p>

        <h4>※　注意　※</h4>

        <ul>
            <li>・大会のPOT分け、出場枠などの仕組みはロシアワールドカップに準じます。</li>
            <li>・ロシアは開催国のため、必ず選ぶ必要があります。</li>
            <li>・アジアと北中米カリブ海、オセアニアと南米はそれぞれもう一方の大陸と１枠を争う関係にあります。</li>
            <li>（例）アジアが５カ国参加する場合、北中米カリブ海のチームは３カ国しか出場できません。</li>
            <li>・各大陸の出場枠は以下のとおりです。</li>
        </ul>

        <table id="qualification_slots_table" class="table">
            <thead class="thead-light">
                <th>大陸</th>
                <th>出場枠</th>
            </thead>
            <tr>
                <td>ヨーロッパ</td>
                <td>14</td>
            </tr>
            <tr>
                <td>アフリカ</td>
                <td>5</td>
            </tr>
            <tr>
                <td>アジア</td>
                <td>4.5</td>
            </tr>
            <tr>
                <td>南米</td>
                <td>4.5</td>
            </tr>
            <tr>
                <td>北中米カリブ海</td>
                <td>3.5</td>
            </tr>
            <tr>
                <td>オセアニア</td>
                <td>0.5</td>
            </tr>
        </table>
        <div class="country_before_button">
            <%= link_to "ヨーロッパの出場国を選ぶ", europe_path %>
        </div>
    </div>

</div>