<div class="basediv">
    <div class="arrow">

        <i class="fas fa-arrow-alt-circle-right arrow_black"><br>つかいかた</i>
        <i class="fas fa-arrow-alt-circle-right arrow_white"><br>ヨーロッパ</i>
        <i class="fas fa-arrow-alt-circle-right arrow_white"><br>アフリカ</i>
        <i class="fas fa-arrow-alt-circle-right arrow_white"><br>アジア</i>
        <i class="fas fa-arrow-alt-circle-right arrow_white"><br>南米</i>
        <i class="fas fa-arrow-alt-circle-right arrow_white"><br>北中米カリブ海</i>
        <i class="fas fa-arrow-alt-circle-right arrow_white"><br>オセアニア</i>

    </div>

    <div class="select_caption">
        各大陸ごとにリストからあなたのWカップに出場させたい国を、大陸ごとの出場数まで選んで下さい。<br>
        <br>
        ※　注意　※<br>
        <br>
        ・ロシアは開催国のため、必ず選ぶ必要があります。<br>
        ・アジアと北中米カリブ海、オセアニアと南米はそれぞれもう一方の大陸と１枠を争う関係にあります。<br>
        （例）アジアが５カ国参加する場合、北中米カリブ海のチームは３カ国しか出場できません。<br>
        ・各大陸の出場枠は以下のとおりです。

        <table id="qualification_slots_table" class="table">
            <thead class="thead-light">
                <th>大陸</th>
                <th>出場枠</th>
            </thead>
            <tr>
                <td>ヨーロッパ</td>
                <td>14</td>
            </tr>
            <tr>
                <td>アフリカ</td>
                <td>5</td>
            </tr>
            <tr>
                <td>アジア</td>
                <td>4.5</td>
            </tr>
            <tr>
                <td>南米</td>
                <td>4.5</td>
            </tr>
            <tr>
                <td>北中米カリブ海</td>
                <td>3.5</td>
            </tr>
            <tr>
                <td>オセアニア</td>
                <td>0.5</td>
            </tr>
        </table>
    </div>

</div>