<div class="basediv">

    各大陸ごとにリストからあなたのWカップに出場させたい国を、大陸ごとの出場数まで選んで下さい。

    ※　注意　※

    ・ロシアは開催国のため、必ず選ぶ必要があります。
    ・アジアと北中米カリブ海、オセアニアと南米はそれぞれもう一方の大陸と１枠を争う関係にあります。
    （例）アジアが５カ国参加する場合、北中米カリブ海のチームは３カ国しか出場できません。
    ・各大陸の出場枠は以下のとおりです。

</div>