<div class="basediv">
    <div class="arrow">

        <i class="fas fa-arrow-alt-circle-right arrow_white"><br>つかいかた</i>
        <i class="fas fa-arrow-alt-circle-right arrow_white"><br>ヨーロッパ</i>
        <i class="fas fa-arrow-alt-circle-right arrow_white"><br>アフリカ</i>
        <i class="fas fa-arrow-alt-circle-right arrow_white"><br>アジア</i>
        <i class="fas fa-arrow-alt-circle-right arrow_white"><br>南米</i>
        <i class="fas fa-arrow-alt-circle-right arrow_white"><br>北中米カリブ海</i>
        <i class="fas fa-arrow-alt-circle-right arrow_black"><br>オセアニア</i>


    </div>

    <div class="select_country container-fulid">
        <div class="row">
            <div class="col-sm">
                オセアニアの国一覧
            </div>
            <div class="col-sm">
                オセアニアの出場国
            </div>
        </div>
        
        <div class="next_contain_button">
            <%= link_to "すべての出場国を確認する", thirtysecond_path %>
        </div>
    </div>
</div>