// Place all the styles related to the countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// arrow系

.arrow{
    background-color: azure;
    text-align: center;
}
.arrow i{
    width: 150px;
    border: 0.5px dashed skyblue;
}
.arrow_white{
    color: skyblue;
}
.arrow_black{
    color: darkblue;
}
.next_contain_arrow:hover{
    color: gold;
    border: 0.5px dashed gold;
}

// before

#qualification_slots_table{
    margin: 20px 0;
}
.select_caption li{
    list-style: none;
}
.country_before_button{
    width: 50%;
    margin: 10px auto;
    padding: 5px;
    text-align: center;
    background-color: royalblue;
}
.country_before_button a{
    color: white;
    font-size: 20px;
    line-height: 50px;
    display: block;
}

// europeからoceania

.select_country p{
    margin-bottom: 0;
}
.countries_label{
    background-color: rgba(175, 238, 238, 0.5);
}
.participations_label{
    background-color: rgba(255, 182, 193, 0.5);
}
.countries_scroll{
    height: 450px;
    overflow: scroll;
    background-color: rgba(175, 238, 238, 0.5);
}
.participations_scroll{
    height: 450px;
    overflow: scroll;
    background-color: rgba(255, 182, 193, 0.5);
}
.radio_country{
    border-top: 1px solid gray;
}
.radio_info p, .radio_info h3{
    margin-bottom: none;
}
.radio_info{
    display: inline-grid;
}
.typesubmit{
    width: 100%;
    padding: 5px;
    background-color: royalblue;
    color: white;
}
.next_contain_button{
    width: 50%;
    margin: 10px auto;
    padding: 5px;
    text-align: center;
}

// thirtysecond

.thirtysecond_box{
    background-color: lightgray;
}