// Place all the styles related to the countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.arrow{
    background-color: azure;
    text-align: center;
}
.arrow i{
    width: 150px;
    border: 0.5px dashed skyblue;
}
.arrow_white{
    color: skyblue;
}
.arrow_black{
    color: darkblue;
}
.next_contain_arrow:hover{
    color: gold;
    border: 0.5px dashed gold;
}
#qualification_slots_table{
    margin: 20px 0;
}
.select_caption li{
    list-style: none;
}
.next_contain_button{
    width: 50%;
    margin: 0 auto;
    padding: 5px;
    background-color: royalblue;
    text-align: center;
}
.next_contain_button a{
    color: white;
    font-size: 20px;
    line-height: 50px;
}