// Place all the styles related to the wcups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.top_title_box{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.top_title_box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.top_link_box{
    width: 60%;
    margin: 0 auto;
}

.top_index_link, .top_make_link{
    width: 30%;
    margin: 10px 10%;
    float: left;
    background-color: royalblue;
}

.top_link_button{
    width: 100%;
    text-align: center;
}